@model IEnumerable<Finanzas_TF.Models.ReciboHonorariosCalculo>

@{
    ViewData["Title"] = "Cotizador 🧮 de Recibo (Resultado)";
}


<h1 style=" font-size: 2.0rem; margin: 30px 0px; font-weight: 700;">@ViewData["Title"]</h1>

<p style="margin-top: -25px; margin-bottom: 40px; font-weight: 600; color: green; font-style: italic;">Fecha de hoy
    @DateTime.Now.ToString("dd/MM/yyyy")</p>


<div class="row">
    <div class="col-lg-3">

        Tipo de Tasa:
        <div class="input-group mb-3">
            <select class="form-control" name="Tasa" disabled>
                @if (ViewBag.TipoDeTasa == 1)
                {
                    <option value=1 selected>Nominal</option>
                }
                else
                {
                    <option value=0 selected>Efectiva</option>
                }
            </select>
        </div>

        Moneda:
        <div class="input-group mb-3">
            <select class="form-control" name="Moneda" disabled>
                @if (ViewBag.Moneda == 0)
                {
                    <option value=0 selected>Soles (S/.)</option>
                }
                else
                {
                    <option value=1 selected>Dolares ($)</option>
                }
            </select>
        </div>

        Valor a Recibir:
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">S/</span>
            </div>
            <input type="text" disabled class="form-control disabled" aria-label="" name="ValorARecibir"
                value="@Model.Sum(c=>c.ValorRecibir)">
        </div>

    </div>

    <div class="col-lg-3">

        Tasa Anual:
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
            <input type="number" step="0.01" name="Tasa" class="form-control" aria-label="" value="@ViewBag.Tasa" disabled>
        </div>

        Cotización Dolar:
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">S/</span>
            </div>
            <input type="number" step="0.01" name="Dolar" class="form-control" aria-label="" value="@ViewBag.Dolar" disabled>
        </div>

        TCEA:
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
            <input type="number" step="0.01" name="TCEA" class="form-control" disabled aria-label=""
                value="@ViewBag.TCEA">
        </div>

    </div>
    <div class="col-lg-3">

        Tipo de Año de la tasa:
        <div class="input-group mb-3">
            <select class="form-control" disabled>
                @if (ViewBag.Anio == 360)
                {
                    <option value="360" selected>Ordinario</option>
                }
                else
                {
                    <option value="365" selected>Exacto</option>
                }
            </select>
        </div>

        Costes Iniciales:
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">S/</span>
            </div>
            <input type="text" class="form-control" disabled value="@ViewBag.gInicial" name="gInicio">
        </div>

        TEA:
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
            <input type="text" class="form-control" disabled aria-label="" value="@ViewBag.TEA" name="TEA">
        </div>

    </div>
    <div class="col-lg-3">

        Fecha descuento:
        <div class="input-group mb-3">
            <input class="form-control" disabled name="FechaDescuento" type="date" value="@ViewBag.FechaDescuento">
        </div>

        Costes Finales:
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">S/</span>
            </div>
            <input type="number" step="0.01" name="gFinal" class="form-control" disabled value="@ViewBag.gFinal">
        </div>

        <button class="btn btn-success" style="width:100%" id="calculo">Calcular</button>

    </div>
</div>

<table class="table fcard">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>Fecha de Vencimiento</th>
            <th>N° Días</th>
            <th>
                TEP
            </th>
            <th>
                d
            </th>
            <th>
                Descuento
            </th>
            <th>
                Coste Inicial
            </th>
            <th>
                Coste Final
            </th>
            <th>
                Valor Neto
            </th>
            <th>
                Valor a Recibir
            </th>
            <th>
                Flujo
            </th>
            <th>
                TCEA
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.NombreCliente)
                </td>
                <td>
                    S/@Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @(item.FechaPago.ToString("dd/MM/yyyy"))
                </td>
                <td style="font-weight:700; color:green">
                    @((item.FechaPago.Date - @ViewBag.FechaDescuento).TotalDays)
                </td>
                <td id="TEP">
                    @item.TEP%
                </td>
                <td id="D">
                    @item.d%
                </td>
                <td id="DESCUENTO">
                    @item.Descuento
                </td>
                <td id="COSTEINICIAL">
                    @item.gInicial
                </td>
                <td id="COSTEFINAL">
                    @item.gFinal
                </td>
                <td id="VALORNETO">
                    @item.ValorNeto
                </td>
                <td id="VALORRECIBIR">
                    @item.ValorRecibir
                </td>
                <td id="FLUJO">
                    @item.Flujo
                </td>
                <td id="TCEA">
                    @item.TCEAUnit%
                </td>
            </tr>
        }
    </tbody>
</table>
